:local(.App) {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #bd10e0;
  
  :local(.header) {
    height: 20%;
  }

  :local(.container) {
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  :local(.footer) {
    height: 10%;
  }
}
