:local(.App) {
  text-align: center;
  padding: 20px;

  :local(.roomListContainer) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ant-table-wrapper {
      margin-top: 5px;
      width: 80%;
    }

    .ant-btn {
      margin-top: 10px;
    }
  }
}
