:local(.room) {
  :local(.sketchPadContainer) {
      height: auto;
      border: 1px solid #ccc;
      padding: 50px;
      display: flex;
      justify-content: center;
      background-color: #926dea;
  }

  :local(.panelTitle) {
    margin: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }

  :local(.videoList) {
      display: flex;
      height: 240px;
      border: 1px solid #ccc;
      padding: 20px;

      :local(.customImage) {
        flex: 0 0 200px;
        margin-right: 20px;
      }
  }
}
